{% extends "base.html" %}

{% load thumbnail siteblocks_extras faq_extras pages_extras %}

{% block title %}
    Вопрос-Ответ &mdash;
{% endblock %}

{% block content_l %}
<h1>Вопрос-ответ</h1>
<div class="faqs">
    {% for question in questions %}
        {% if question.answer %}
            <div class="faq">
                <h2 class="faq_head"><span>{{ question.question }}</span></h2>
                <div class="faq_text text">
                    {{ question.answer|safe }}
                </div>
            </div>
        {% endif %}
    {% empty %}
        Вопросов пока нет
    {% endfor %}
</div><!--/faqs-->
{% endblock %}

{% block submenu_r_pl %}
    {% if page.parent %}
        {% get_menu_by_parent page 'unselected' %}
    {% endif %}
{% endblock %}

{% block submenu_r_pl_second %}
{% endblock %}

{% block post_sbmns %}
    <div class="faq_btn"><div class="btn"><div class="btn_in"><a href="/faq/sendquestion/" class="fancybox">Задать вопрос</a></div></div></div>
{% endblock %}