<div class="modal faq_modal">
<div class="modal_in">
    <h2 class="modal_h">Задайте вопрос специалисту</h2>
    <form action="" class="modal_form" method="post">
        <div class="modal_simple">
            <div class="input">
                <label>Ваш email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="input">
                <label>Вопрос</label>
                {{ form.question }}
                {{ form.question.errors }}
            </div>
        </div>
        <div class="modal_btn"><div class="btn"><div class="btn_in"><input type="submit" id="send_question" value="Отправить вопрос" /></div></div></div>
    </form>
</div>
</div>