{% ifequal case 'typical' %}
    <div class="modal">
    <div class="modal_in">
        <h2 class="modal_h">Заявка на {{ service_title|lower }}</h2>
        <form action="" class="modal_form" method="post">
            <div class="modal_simple">
                <div class="input">
                    <label>ФИО</label>
                    {{ form.full_name }}
                    {{ form.full_name.errors }}
                </div>
                <div class="input">
                    <label>Телефон</label>
                    {{ form.phonenumber }}
                    {{ form.phonenumber.errors }}
                </div>
                <div class="input">
                    <label>Электронная почта</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
            </div>
            <div style="display: none;">{{ form.service }}
            <input type="hidden" value="{{ case }}" id="form_type"></div>
            <div class="modal_btn"><div class="btn"><div class="btn_in"><input type="button" value="Отправить" id="save_serv_request" /></div></div></div>
        </form>
    </div>
    </div>
{% endifequal %}
{% ifequal case 'first_serv' %}
    <div class="modal">
    <div class="modal_in">
    	<h2 class="modal_h">Заявка на технологическое присоединение к электрическим
    сетям ОАО «Ленэнерго»</h2>

    	<div class="modal_block">
    		<div class="modal_block_num">1</div>
    		<div class="input">
    			<label>Фамилия</label>
    			<input type="text" />
    		</div>
    		<div class="input">
    			<label>Имя</label>
    			<input type="text" />
    		</div>
    		<div class="input">
    			<label>Отчество</label>
    			<input type="text" />
    		</div>
    	</div>

    	<div class="modal_block">
    		<div class="modal_block_num">2</div>
    		<div class="input">
    			<span class="modal_block_short_1">
    				<label>Серия</label>
    				<input type="text" />
    			</span>
    			<span class="modal_block_short_2">
    				<label>Номер</label>
    				<input type="text" />
    			</span>
    		</div>
    		<div class="input">
    			<label>Кем выдан</label>
    			<textarea rows="0" cols="0"></textarea>
    		</div>
    		<div class="input">
    			<label>Дата выдачи</label>
    			<input type="text" />
    		</div>
    	</div>

    	<div class="modal_block">
    		<div class="modal_block_num">3</div>
    		<div class="input">
    			<label>ИНН</label>
    			<input type="text" />
    		</div>
    	</div>

    	<div class="modal_block">
    		<div class="modal_block_num">4</div>
    		<div class="input">
    			<label>Фактический адрес заявителя с индексом</label>
    			<textarea rows="0" cols="0"></textarea>
    		</div>
    	</div>

    	<div class="modal_block">
    		<div class="modal_block_num">5</div>
    		<div class="input">
    			<label>Наименование объекта</label>
    			<input type="text" />
    		</div>
    	</div>

    	<div class="modal_block">
    		<div class="modal_block_num">6</div>
    		<div class="input">
    			<label>Местонахождение присоединяемого объекта</label>
    			<textarea rows="0" cols="0"></textarea>
    		</div>
    	</div>

    	<div class="modal_4cols">
    		<div class="modal_4col modal_4col_1">
    			<label>Категория <br/>надежности электроснабжения</label>
    			<div>III</div>
    		</div>
    		<div class="modal_4col modal_4col_2">
    			<label>Ранее <br/>присоединенная мощность</label>
    			<div class="input"><input type="text" /> кВА</div>
    			<div class="input"><input type="text" /> кВт</div>
    		</div>
    		<div class="modal_4col modal_4col_3">
    			<label>Вновь присоединяемая мощность (дополнительная)</label>
    			<div class="input"><input type="text" /> кВт</div>
    		</div>
    		<div class="modal_4col modal_4col_4">
    			<label>Максимальная <br/>мощность (всего с учетом присоединенной мощности)</label>
    			<div class="input"><input type="text" /> кВт</div>
    		</div>
    	</div>

    	<div class="modal_block">
    		<div class="modal_block_num">7</div>
    		<div class="input">
    			<label>Прочая информация</label>
    			<textarea rows="0" cols="0"></textarea>
    		</div>
    	</div>



    	<div class="modal_btn"><div class="btn"><div class="btn_in"><input type="submit" value="Создать заявку" /></div></div></div>

    </div>
    </div>
{% endifequal %}