<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load services_extras %}
<html>
<head>
<title>
{{ title }}
</title>
<style type="text/css">
@page {
	size: a4;
	margin: 1.2cm 1.0cm 1.2cm 1.0cm;
        @frame footer {
	    -pdf-frame-content: footerContent;
	    bottom: 0.5cm;
	    margin-left: 0.6cm;
	    margin-right: 1cm;
	    height: 1cm;
	  }
}
@font-face {
	font-family: Arial;
	src: url("{{ MEDIA_ROOT }}/media/fonts/Arial.Ttf");
}
@font-face {
	font-family: Arial;
	src: url("{{ MEDIA_ROOT }}/media/fonts/Arial_Bold.Ttf");
	font-weight:bold;
}
@font-face {
	font-family: Arial;
	src: url("{{ MEDIA_ROOT }}/media/fonts/Arial_Italic.ttf");
	font-style: italic;
}
body {
	font-family: Arial;
	font-size: 8pt;
    line-height: 10pt;
}

h3 {
    line-height: 0px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
	margin: 0px 0px 20px 0px;
    padding: 0;
}
.head h3 {
	border-bottom: 1px solid #333;
	padding-bottom: 0.3cm;
	margin-bottom: 0.4cm;
}

p {
    margin: 0 0 0.1cm 0;
    padding: 0;
}
table {
	margin: 0;
}

.doctable, .headtable {
	border-collapse: collapse;
	margin: 0 0 0.5cm 0;
}
.doctable tr {
	margin: 0;
	padding: 0;
}
.doctable td {
	vertical-align: top;
	padding: 0 0 0.3cm 0;
	margin: 0;
}
.doctable td table {
	border-collapse: separate;
}
.doctable td table td, .moretable td {
	padding: 0.07cm 0 0 0;
	line-height: 12pt;
	vertical-align: top;
}
.doctable .doctable_num {
	padding: 0.07cm 0 0 0;
	width: 0.4cm;
	font-size: 11px;
	font-weight: bold;
}
.doctable4col {
	margin-top: 0.3cm;
	text-align: center;
}
.add {
	padding: 0.5cm 0 0 0;
}
.add h3 {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	margin: 0 0 0.3cm 0;
	padding: 0;
}
.add p {
	margin: 0 0 0.2cm 0;
	padding: 0;
}
.add span {
	padding: 0 0.3cm 0 0;
}
.headtable p {
	margin: 0;
	padding: 0;
}
.addnote {
	font-style: italic;
	font-weight: normal;
	text-align: center;
	margin-top: 0.2cm;
}
.doctable td table .input, .moretable .input {
	font-size: 9pt;
}
.doctable td table td.input, .moretable td.input {
	border: 1px solid #ccc;
	border-top-color: #777;
	border-left-color: #777;
	padding-left: 0.1cm;
	padding-right: 0.1cm;
}
</style>
</head>


<body>
<div class="head">
    <h3>{{ title }}</h3>
</div>

<table class="headtable" cellpadding="0" cellspacing="0">
	<tr>
		<td><img style="width: 6cm;" src="{{ MEDIA_ROOT }}/media/img/len.png" alt="" /></td>
		<td style="text-align: left; width: 14cm;">
		    <p>В ОАО "ЛЕНЭНЕРГО"</p>
		    <p>Заявка на технологическое присоединение</p>
		    <p>к электрическим сетям</p>
		    <p>№ {{ saved_object.id }}</p>
		    <p>от {{ saved_object.date_create|date:"d" }} {{ saved_object.date_create|date:"E" }} 20{{ saved_object.date_create|date:"y" }}г.</p>
		</td>
	</tr>
</table>




{% ifequal case 'first_serv' %}
<table class="doctable" cellpadding="0" cellspacing="0">
	<tr>
		<td class="doctable_num">1.</td>
		<td>
	        <table>
		        <tr><td style="width: 1.6cm;">Фамилия</td> <td class="input">{{ saved_object.last_name }}</td></tr>
		        <tr><td>Имя</td> <td class="input">{{ saved_object.first_name }}</td></tr>
		        <tr><td>Отчество</td> <td class="input">{{ saved_object.middle_name }}</td></tr>
	        </table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">2.</td>
		<td>
			<table>
				<tr>
					<td style="width: 3.14cm;">Паспорт серия</td>
					<td class="input">{{ saved_object.passport_series }}</td>
					<td style="width: 1.6cm; padding-left: 0.1cm;">номер</td>
					<td class="input">{{ saved_object.passport_number }}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td style="width: 2.9cm;">Кем выдан</td>
					<td class="input">{{ saved_object.passport_issued }}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td style="width: 2.9cm;">Дата выдачи</td>
					<td class="input">{{ saved_object.passport_issued_date }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">3.</td>
		<td>
			<table>
				<tr>
					<td style="width: 1cm;">ИНН</td>
					<td class="input">{{ saved_object.inn }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">4.</td>
		<td>
			<table>
				<tr>
					<td style="width: 10cm;">Фактический адрес заявителя с индексом:</td>
					<td class="input">{{ saved_object.actual_address_with_index }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">5.</td>
		<td>
			<table>
				<tr>
					<td style="width: 10cm;">Наименование присоединяемого объекта:</td>
					<td class="input">{{ saved_object.object_title }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">6.</td>
		<td>
			<table>
				<tr>
					<td style="width: 10cm;">Местонахождение присоединяемого объекта:</td>
					<td class="input">{{ saved_object.object_location }}</td>
				</tr>
			</table>
	        <table class="doctable4col">
	        	<tr>
	        		<td><p>Категория надежности электроснабжения:</p></td>
	        		<td><p>Ранее присоединенная мощность (кВА):</p></td>
	        		<td><p>Ранее присоединенная мощность (кВт):</p></td>
	        		<td><p>Вновь присоединяемая мощность (дополнительная):</p></td>
	        		<td><p>Максимальная мощность (всего с учетом присоединенной мощности):</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">III</p></td>
	        		<td><p class="input">{{ saved_object.earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.max_power }}</p></td>
	        	</tr>
	        </table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">7.</td>
		<td>
			<table>
				<tr>
					<td>Прочая информация:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.other_inf }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 18cm;"><strong>Заявитель/представитель</strong>: подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.agent_last_name }} {{ saved_object.agent_first_name }} {{ saved_object.agent_middle_name }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.44cm;">Доверенность №</td>
		<td class="input">{{ saved_object.authority_number }}</td>
		<td style="width: 0.7cm;">&nbsp;&nbsp;от </td>
		<td class="input">{% if saved_object.authority_date %}{{ saved_object.authority_date }}{% endif %}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.9cm;">Телефон для связи:</td>
		<td class="input">{{ saved_object.phone_number }}</td>
		<td style="width: 1.6cm;">&nbsp;&nbsp;Факс:</td>
		<td class="input">{{ saved_object.fax }}</td>
		<td style="width: 1.9cm;">&nbsp;&nbsp;E-mail:</td>
		<td class="input">{{ saved_object.email }}</td>
	</tr>
</table>

<br/><br/>
<p>Заявку принял специалист ЦОК: ________________________________________________________________ "_____"________________20&nbsp;&nbsp;&nbsp;&nbsp;г.</p>

<pdf:nextpage name="" />

<div class="add">
	<br />
	<h3>Приложения к заявке</h3>
	<p><span>{{ saved_object.req_attachment1|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment1' %}</p>
	<p><span>{{ saved_object.req_attachment2|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment2' %}</p>
	<p><span>{{ saved_object.req_attachment3|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment3' %}</p>
	<p><span>{{ saved_object.req_attachment4|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment4' %}</p>
	<p><span>{{ saved_object.req_attachment5|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment5' %}</p>
	<p><span>{{ saved_object.req_attachment6|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment6' %}</p>
	<p><span>{{ saved_object.req_attachment7|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment7' %}</p>
	<p><span>{{ saved_object.req_attachment8|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment8' %}</p>
	<p><span>{{ saved_object.req_attachment9|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment9' %}</p>
	<br/>
	<p class="addnote">Физические лица предоставляют копии документов, заверенные своей подписью.</p>
</div>
{% endifequal %}






{% ifequal case 'second_serv' %}
<table class="doctable" cellpadding="0" cellspacing="0">
	<tr>
		<td class="doctable_num">1.</td>
		<td>
	        <table>
		        <tr><td style="width: 1.6cm;">Фамилия</td> <td class="input">{{ saved_object.last_name }}</td></tr>
		        <tr><td>Имя</td> <td class="input">{{ saved_object.first_name }}</td></tr>
		        <tr><td>Отчество</td> <td class="input">{{ saved_object.middle_name }}</td></tr>
	        </table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">2.</td>
		<td>
			<table>
				<tr>
					<td style="width: 3.14cm;">Паспорт серия</td>
					<td class="input">{{ saved_object.passport_series }}</td>
					<td style="width: 1.6cm; padding-left: 0.1cm;">номер</td>
					<td class="input">{{ saved_object.passport_number }}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td style="width: 2.9cm;">Кем выдан</td>
					<td class="input">{{ saved_object.passport_issued }}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td style="width: 2.9cm;">Дата выдачи</td>
					<td class="input">{{ saved_object.passport_issued_date }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">3.</td>
		<td>
			<table>
				<tr>
					<td style="width: 1cm;">ИНН</td>
					<td class="input">{{ saved_object.inn }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">4.</td>
		<td>
			<table>
				<tr>
					<td style="width: 10cm;">Фактический адрес заявителя с индексом:</td>
					<td class="input">{{ saved_object.actual_address_with_index }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">5.</td>
		<td>
			<table>
				<tr>
					<td style="width: 10cm;">Наименование присоединяемого объекта:</td>
					<td class="input">{{ saved_object.object_title }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">6.</td>
		<td>
			<table>
				<tr>
					<td style="width: 10cm;">Местонахождение присоединяемого объекта:</td>
					<td class="input">{{ saved_object.object_location }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">7.</td>
		<td>
			<table>
				<tr>
					<td>Срок временного присоединения:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.temp_period }}</td>
				</tr>
			</table>
		</td>	
	</tr>

	<tr>
		<td class="doctable_num">8.</td>
		<td>
	        <table class="doctable4col">
	        	<tr>
	        		<td><p>Категория надежности электроснабжения:</p></td>
	        		<td><p>Ранее присоединенная мощность (кВА):</p></td>
	        		<td><p>Ранее присоединенная мощность (кВт):</p></td>
	        		<td><p>Вновь присоединяемая мощность (дополнительная):</p></td>
	        		<td><p>Максимальная мощность (всего с учетом присоединенной мощности):</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">I</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.first_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.first_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">II</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.second_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.second_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">III</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.third_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.third_max_power }}</p></td>
	        	</tr>
	        </table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">9.</td>
		<td>
			<table>
				<tr>
					<td>Характер нагрузки потребителя электрической энергии:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.load_type }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">10.</td>
		<td>
			<table>
				<tr>
					<td>Прочая информация:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.other_inf }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 18cm;"><strong>Заявитель/представитель</strong>: подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.agent_last_name }} {{ saved_object.agent_first_name }} {{ saved_object.agent_middle_name }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.44cm;">Доверенность №</td>
		<td class="input">{{ saved_object.authority_number }}</td>
		<td style="width: 0.7cm;">&nbsp;&nbsp;от </td>
		<td class="input">{% if saved_object.authority_date %}{{ saved_object.authority_date }}{% endif %}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.9cm;">Телефон для связи:</td>
		<td class="input">{{ saved_object.phone_number }}</td>
		<td style="width: 1.6cm;">&nbsp;&nbsp;Факс:</td>
		<td class="input">{{ saved_object.fax }}</td>
		<td style="width: 1.9cm;">&nbsp;&nbsp;E-mail:</td>
		<td class="input">{{ saved_object.email }}</td>
	</tr>
</table>

<br/><br/>
<p>Заявку принял специалист ЦОК: ________________________________________________________________ "_____"________________20&nbsp;&nbsp;&nbsp;&nbsp;г.</p>

<pdf:nextpage name="" />

<div class="add">
	<h3>Приложения к заявке</h3>
    <p><span>{{ saved_object.req_attachment1|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment1' %}</p>
    <p><span>{{ saved_object.req_attachment2|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment2' %}</p>
    <p><span>{{ saved_object.req_attachment3|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment3' %}</p>
    <p><span>{{ saved_object.req_attachment4|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment4' %}</p>
    <p><span>{{ saved_object.req_attachment5|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment5' %}</p>
    <p><span>{{ saved_object.req_attachment6|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment6' %}</p>
    <p><span>{{ saved_object.req_attachment7|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment7' %}</p>
    <p><span>{{ saved_object.req_attachment8|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment8' %}</p>
    <p><span>{{ saved_object.req_attachment9|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment9' %}</p>
	<br/>
	<p class="addnote">Физические лица предоставляют копии документов, заверенные своей подписью.</p>
</div>
{% endifequal %}






{% ifequal case 'third_serv' %}
<table class="doctable" cellpadding="0" cellspacing="0">
	<tr>
		<td class="doctable_num">1.</td>
		<td>
			<table>
				<tr>
					<td>Полное наименование организации/индивидуального предпринимателя:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.org_title }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">2.</td>
		<td>
			<table>
				<tr>
					<td>Номер записи в Едином государственном реестре юридических лиц/Едином государственном реестре индивидуальных предпринимателей:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.egrul_number }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">3.</td>
		<td>
			<table>
				<tr>
					<td>Фактический адрес организации (заявителя) с индексом:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.actual_address_with_index }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">4.</td>
		<td>
			<table>
				<tr>
					<td>Наименование присоединяемого объекта:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.object_title }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">5.</td>
		<td>
			<table>
				<tr>
					<td>Местонахождение присоединяемого объекта:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.object_location }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">6.</td>
		<td>
			<table>
				<tr>
					<td>Срок временного присоединения:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.temp_period }}</td>
				</tr>
			</table>
	        <table class="doctable4col">
	        	<tr>
	        		<td><p>Категория надежности электроснабжения:</p></td>
	        		<td><p>Ранее присоединенная мощность (кВА):</p></td>
	        		<td><p>Ранее присоединенная мощность (кВт):</p></td>
	        		<td><p>Вновь присоединяемая мощность (дополнительная):</p></td>
	        		<td><p>Максимальная мощность (всего с учетом присоединенной мощности):</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">I</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.first_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.first_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">II</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.second_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.second_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">III</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.third_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.third_max_power }}</p></td>
	        	</tr>
	        </table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">7.</td>
		<td>
			<table>
				<tr>
					<td>Характер нагрузки потребителя электрической энергии:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.load_type }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">8.</td>
		<td>
			<table>
				<tr>
					<td>Прочая информация:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.other_inf }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 18cm;"><strong>Заявитель/представитель</strong>: подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.agent_last_name }} {{ saved_object.agent_first_name }} {{ saved_object.agent_middle_name }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.44cm;">Доверенность №</td>
		<td class="input">{{ saved_object.authority_number }}</td>
		<td style="width: 0.7cm;">&nbsp;&nbsp;от </td>
		<td class="input">{% if saved_object.authority_date %}{{ saved_object.authority_date }}{% endif %}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.9cm;">Телефон для связи:</td>
		<td class="input">{{ saved_object.phone_number }}</td>
		<td style="width: 1.6cm;">&nbsp;&nbsp;Факс:</td>
		<td class="input">{{ saved_object.fax }}</td>
		<td style="width: 1.9cm;">&nbsp;&nbsp;E-mail:</td>
		<td class="input">{{ saved_object.email }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 7cm;">Руководитель: должность</td>
		<td class="input">{{ saved_object.director_post }}</td>
	</tr>
	<tr>
		<td>подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.director_full_name }}</td>
	</tr>
</table>

<br/><br/>
<p>Заявку принял специалист ЦОК: ________________________________________________________________ "_____"________________20&nbsp;&nbsp;&nbsp;&nbsp;г.</p>

<pdf:nextpage name="" />

<h3>Реквизиты заявителя</h3>

<table class="moretable">
	<tr>
		<td style="width: 1cm;">ИНН:</td>
		<td colspan="3" class="input">{{ saved_object.agent_inn }}</td>
	</tr>
	<tr>
		<td style="width: 1cm;">КПП:</td>
		<td class="input">{{ saved_object.agent_kpp }}</td>
		<td style="width: 1cm;">&nbsp;&nbsp;БИК:</td>
		<td class="input">{{ saved_object.agent_bik }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 5cm;">Наименование банка:</td>
		<td class="input">{{ saved_object.agent_bank_title }}</td>
	</tr>
	<tr>
		<td>Расчетный счёт:</td>
		<td class="input">{{ saved_object.agent_bank_account }}</td>
	</tr>
	<tr>
		<td>Корреспондентский счет:</td>
		<td class="input">{{ saved_object.agent_correspond_account }}</td>
	</tr>
</table>

<br/><br/><br/>

<div class="add">
	<h3>Приложения к заявке</h3>
    <p><span>{{ saved_object.req_attachment1|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment1' %}</p>
    <p><span>{{ saved_object.req_attachment2|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment2' %}</p>
    <p><span>{{ saved_object.req_attachment3|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment3' %}</p>
    <p><span>{{ saved_object.req_attachment4|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment4' %}</p>
    <p><span>{{ saved_object.req_attachment5|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment5' %}</p>
    <p><span>{{ saved_object.req_attachment6|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment6' %}</p>
    <p><span>{{ saved_object.req_attachment7|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment7' %}</p>
    <p><span>{{ saved_object.req_attachment8|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment8' %}</p>
    <p><span>{{ saved_object.req_attachment9|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment9' %}</p>
    <p><span>{{ saved_object.req_attachment10|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment10' %}</p>
    <p><span>{{ saved_object.req_attachment11|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment11' %}</p>
    <br/>
	<p class="addnote">Юридические лица предоставляют копии документов, заверенные печатью организации или нотариально заверенные копии. Индивидуальные предприниматели предоставляют копии документов, заверенные своей подписью.</p>
</div>
{% endifequal %}




{% ifequal case 'fourth_serv' %}
<table class="doctable" cellpadding="0" cellspacing="0">
	<tr>
		<td class="doctable_num">1.</td>
		<td>
			<table>
				<tr>
					<td>Полное наименование организации/индивидуального предпринимателя:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.org_title }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">2.</td>
		<td>
			<table>
				<tr>
					<td>Номер записи в Едином государственном реестре юридических лиц/Едином государственном реестре индивидуальных предпринимателей:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.egrul_number }}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td style="width: 4cm;">Дата внесения в реестр:</td>
					<td style="width: 3cm;" class="input">{{ saved_object.egrul_date }}</td>
				</tr>
			</table>
		</td>
	</tr>


	<tr>
		<td class="doctable_num">3.</td>
		<td>
			<table>
				<tr>
					<td>Фактический адрес организации (заявителя) с индексом:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.actual_address_with_index }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">4.</td>
		<td>
			<table>
				<tr>
					<td>Наименование присоединяемого объекта:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.object_title }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">5.</td>
		<td>
			<table>
				<tr>
					<td>Местонахождение присоединяемого объекта:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.object_location }}</td>
				</tr>
			</table>
	        <table class="doctable4col">
	        	<tr>
	        		<td><p>Категория надежности электроснабжения:</p></td>
	        		<td><p>Ранее присоединенная мощность (кВА):</p></td>
	        		<td><p>Ранее присоединенная мощность (кВт):</p></td>
	        		<td><p>Вновь присоединяемая мощность (дополнительная):</p></td>
	        		<td><p>Максимальная мощность (всего с учетом присоединенной мощности):</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">I</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.first_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.first_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">II</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.second_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.second_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">III</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.third_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.third_max_power }}</p></td>
	        	</tr>
	        </table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">6.</td>
		<td>
			<table>
				<tr>
					<td>Количество точек присоединения с указанием технических параметров элементов энергопринимающих устройств:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.count_conn_points }}</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">7.</td>
		<td>
			<table>
				<tr>
					<td>Характер нагрузки потребителя электрической энергии:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.load_type }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">8.</td>
		<td>
			<table>
				<tr>
					<td>Поэтапное распределение мощности, сроков ввода и сведения о категории надежности электроснабжения, при вводе энергопринимающих устройств по этапам и очередям:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.power_distribution }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">9.</td>
		<td>
			<table>
				<tr>
					<td>Прочая информация:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.other_inf }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 18cm;"><strong>Заявитель/представитель</strong>: подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.agent_last_name }} {{ saved_object.agent_first_name }} {{ saved_object.agent_middle_name }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.44cm;">Доверенность №</td>
		<td class="input">{{ saved_object.authority_number }}</td>
		<td style="width: 0.7cm;">&nbsp;&nbsp;от </td>
		<td class="input">{% if saved_object.authority_date %}{{ saved_object.authority_date }}{% endif %}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.9cm;">Телефон для связи:</td>
		<td class="input">{{ saved_object.phone_number }}</td>
		<td style="width: 1.6cm;">&nbsp;&nbsp;Факс:</td>
		<td class="input">{{ saved_object.fax }}</td>
		<td style="width: 1.9cm;">&nbsp;&nbsp;E-mail:</td>
		<td class="input">{{ saved_object.email }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 7cm;">Руководитель: должность</td>
		<td class="input">{{ saved_object.director_post }}</td>
	</tr>
	<tr>
		<td>подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.director_full_name }}</td>
	</tr>
</table>

<br/><br/>
<p>Заявку принял специалист ЦОК: ________________________________________________________________ "_____"________________20&nbsp;&nbsp;&nbsp;&nbsp;г.</p>

<pdf:nextpage name="" />

<h3>Реквизиты заявителя</h3>

<table class="moretable">
	<tr>
		<td style="width: 1cm;">ИНН:</td>
		<td colspan="3" class="input">{{ saved_object.agent_inn }}</td>
	</tr>
	<tr>
		<td style="width: 1cm;">КПП:</td>
		<td class="input">{{ saved_object.agent_kpp }}</td>
		<td style="width: 1cm;">&nbsp;&nbsp;БИК:</td>
		<td class="input">{{ saved_object.agent_bik }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 5cm;">Наименование банка:</td>
		<td class="input">{{ saved_object.agent_bank_title }}</td>
	</tr>
	<tr>
		<td>Расчетный счёт:</td>
		<td class="input">{{ saved_object.agent_bank_account }}</td>
	</tr>
	<tr>
		<td>Корреспондентский счет:</td>
		<td class="input">{{ saved_object.agent_correspond_account }}</td>
	</tr>
</table>

<br/><br/><br/>

<div class="add">
	<h3>Приложения к заявке</h3>
    <p><span>{{ saved_object.req_attachment1|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment1' %}</p>
    <p><span>{{ saved_object.req_attachment2|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment2' %}</p>
    <p><span>{{ saved_object.req_attachment3|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment3' %}</p>
    <p><span>{{ saved_object.req_attachment4|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment4' %}</p>
    <p><span>{{ saved_object.req_attachment5|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment5' %}</p>
    <p><span>{{ saved_object.req_attachment6|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment6' %}</p>
    <p><span>{{ saved_object.req_attachment7|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment7' %}</p>
    <p><span>{{ saved_object.req_attachment8|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment8' %}</p>
    <p><span>{{ saved_object.req_attachment9|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment9' %}</p>
    <p><span>{{ saved_object.req_attachment10|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment10' %}</p>
    <p><span>{{ saved_object.req_attachment11|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment11' %}</p>
    <p><span>{{ saved_object.req_attachment12|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment12' %}</p>
    <p><span>{{ saved_object.req_attachment13|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment13' %}</p>
    <br/>
	<p class="addnote">Юридические лица предоставляют копии документов, заверенные печатью организации или нотариально заверенные копии. Индивидуальные предприниматели предоставляют копии документов, заверенные своей подписью.</p>
</div>
{% endifequal %}






{% ifequal case 'fifth_serv' %}
<table class="doctable" cellpadding="0" cellspacing="0">
	<tr>
		<td class="doctable_num">1.</td>
		<td>
			<table>
				<tr>
					<td>Полное наименование организации/индивидуального предпринимателя:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.org_title }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">2.</td>
		<td>
			<table>
				<tr>
					<td>Номер записи в Едином государственном реестре юридических лиц/Едином государственном реестре индивидуальных предпринимателей:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.egrul_number }}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td style="width: 4cm;">Дата внесения в реестр:</td>
					<td style="width: 3cm;" class="input">{{ saved_object.egrul_date }}</td>
				</tr>
			</table>
		</td>
	</tr>


	<tr>
		<td class="doctable_num">3.</td>
		<td>
			<table>
				<tr>
					<td>Фактический адрес организации (заявителя) с индексом:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.actual_address_with_index }}</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="doctable_num">4.</td>
		<td>
			<table>
				<tr>
					<td>Наименование присоединяемого объекта:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.object_title }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">5.</td>
		<td>
			<table>
				<tr>
					<td>Местонахождение присоединяемого объекта:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.object_location }}</td>
				</tr>
			</table>
	        <table class="doctable4col">
	        	<tr>
	        		<td><p>Категория надежности электроснабжения:</p></td>
	        		<td><p>Ранее присоединенная мощность (кВА):</p></td>
	        		<td><p>Ранее присоединенная мощность (кВт):</p></td>
	        		<td><p>Вновь присоединяемая мощность (дополнительная):</p></td>
	        		<td><p>Максимальная мощность (всего с учетом присоединенной мощности):</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">I</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.first_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.first_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.first_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">II</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.second_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.second_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.second_max_power }}</p></td>
	        	</tr>
	        	<tr>
	        		<td><p class="input">III</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVA }}</p></td>
	        		<td><p class="input">{{ saved_object.third_earlier_power_kVt }}</p></td>
	        		<td><p class="input">{{ saved_object.third_additional_power }}</p></td>
	        		<td><p class="input">{{ saved_object.third_max_power }}</p></td>
	        	</tr>
	        </table>
		</td>
	</tr>
	
	<tr>
		<td class="doctable_num">6.</td>
		<td>
			<table>
				<tr>
					<td>Количество и мощность присоединяемых к сети трансформаторов:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.cnt_pwr_transformers }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">7.</td>
		<td>
			<table>
				<tr>
					<td>Количество и мощность присоединяемых к сети генераторов:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.cnt_pwr_generators }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">8.</td>
		<td>
			<table>
				<tr>
					<td>Количество точек присоединения с указанием технических параметров элементов энергопринимающих устройств:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.count_conn_points }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">9.</td>
		<td>
			<table>
				<tr>
					<td>Характер нагрузки потребителя электрической энергии (для генераторов-возможная скорость набора или снижения нагрузки) и наличие нагрузок, искажающих форму кривой электрического тока и вызывающих нессиметрию напряжения в точках присоединения:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.load_type }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">10.</td>
		<td>
			<table>
				<tr>
					<td>Величина и обоснование величины технологического минимума (для генераторов):</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.tech_min_generators }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">11.</td>
		<td>
			<table>
				<tr>
					<td>Величина и обоснование величины технологической брони (для потребителей электрической энергии):</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.tech_armor_consumer }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">12.</td>
		<td>
			<table>
				<tr>
					<td>Величина и обоснование величины аварийной брони (для потребителей электрической энергии):</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.tech_emergency_armor_consumer }}</td>
				</tr>
			</table>
		</td>
	</tr>
		
	<tr>
		<td class="doctable_num">13.</td>
		<td>
			<table>
				<tr>
					<td>Поэтапное распределение мощности, сроков ввода и сведения о категории надежности электроснабжения, при вводе энергопринимающих устройств по этапам и очередям:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.power_distribution }}</td>
				</tr>
			</table>
		</td>
	</tr>
				
	<tr>
		<td class="doctable_num">14.</td>
		<td>
			<table>
				<tr>
					<td>Прочая информация:</td>
				</tr>
				<tr>
					<td class="input">{{ saved_object.other_inf }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 18cm;"><strong>Заявитель/представитель</strong>: подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.agent_last_name }} {{ saved_object.agent_first_name }} {{ saved_object.agent_middle_name }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.44cm;">Доверенность №</td>
		<td class="input">{{ saved_object.authority_number }}</td>
		<td style="width: 0.7cm;">&nbsp;&nbsp;от </td>
		<td class="input">{% if saved_object.authority_date %}{{ saved_object.authority_date }}{% endif %}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 3.9cm;">Телефон для связи:</td>
		<td class="input">{{ saved_object.phone_number }}</td>
		<td style="width: 1.6cm;">&nbsp;&nbsp;Факс:</td>
		<td class="input">{{ saved_object.fax }}</td>
		<td style="width: 1.9cm;">&nbsp;&nbsp;E-mail:</td>
		<td class="input">{{ saved_object.email }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 7cm;">Руководитель: должность</td>
		<td class="input">{{ saved_object.director_post }}</td>
	</tr>
	<tr>
		<td>подпись ____________________ ФИО</td>
		<td class="input">{{ saved_object.director_full_name }}</td>
	</tr>
</table>

<br/><br/>
<p>Заявку принял специалист ЦОК: ________________________________________________________________ "_____"________________20&nbsp;&nbsp;&nbsp;&nbsp;г.</p>


<br/><br/><br/>
<h3>Реквизиты</h3>
<table class="moretable">
	<tr>
		<td style="width: 1cm;">ИНН:</td>
		<td colspan="3" class="input">{{ saved_object.agent_inn }}</td>
	</tr>
	<tr>
		<td style="width: 1cm;">КПП:</td>
		<td class="input">{{ saved_object.agent_kpp }}</td>
		<td style="width: 1cm;">&nbsp;&nbsp;БИК:</td>
		<td class="input">{{ saved_object.agent_bik }}</td>
	</tr>
</table>

<table class="moretable">
	<tr>
		<td style="width: 5cm;">Наименование банка:</td>
		<td class="input">{{ saved_object.agent_bank_title }}</td>
	</tr>
	<tr>
		<td>Расчетный счёт:</td>
		<td class="input">{{ saved_object.agent_bank_account }}</td>
	</tr>
	<tr>
		<td>Корреспондентский счет:</td>
		<td class="input">{{ saved_object.agent_correspond_account }}</td>
	</tr>
</table>

<br/><br/><br/>

<div class="add">
	<h3>Приложения к заявке</h3>
    <p><span>{{ saved_object.req_attachment1|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment1' %}</p>
    <p><span>{{ saved_object.req_attachment2|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment2' %}</p>
    <p><span>{{ saved_object.req_attachment3|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment3' %}</p>
    <p><span>{{ saved_object.req_attachment4|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment4' %}</p>
    <p><span>{{ saved_object.req_attachment5|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment5' %}</p>
    <p><span>{{ saved_object.req_attachment6|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment6' %}</p>
    <p><span>{{ saved_object.req_attachment7|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment7' %}</p>
    <p><span>{{ saved_object.req_attachment8|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment8' %}</p>
    <p><span>{{ saved_object.req_attachment9|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment9' %}</p>
    <p><span>{{ saved_object.req_attachment10|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment10' %}</p>
    <p><span>{{ saved_object.req_attachment14|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment14' %}</p>
    <p><span>{{ saved_object.req_attachment11|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment11' %}</p>
    <p><span>{{ saved_object.req_attachment12|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment12' %}</p>
    <p><span>{{ saved_object.req_attachment13|show_check:MEDIA_ROOT|safe }}</span> &nbsp;&nbsp; {% get_verbose_name saved_object 'req_attachment13' %}</p>
	<br/>
	<p class="addnote">Юридические лица предоставляют копии документов, заверенные печатью организации или нотариально заверенные копии. Индивидуальные предприниматели предоставляют копии документов, заверенные своей подписью.</p>
</div>
{% endifequal %}
</body>
</html>
