{% load thumbnail %}

<div class="doc_serv_block">
{% if service %}
    {% if service.get_published_docs %}
        <div class="docs_zl">
            <h2>Вам потребуются следующие документы:</h2>
            {% if service.get_docs_zl %}
                {% for doc in service.get_docs_zl %}
                    <div class="doc_zl">
                        {{ doc.description|safe }}
                    </div>
                {% endfor %}
            {% endif %}
        </div><!--/docs_zl-->

        {% if service.get_docs_zs %}
            <div class="docs_zs">
                {% for doc in service.get_docs_zs %}

                    {% if doc.get_images and not doc.is_link %}
                        {% for doc_image in doc.get_images %}
                            {% thumbnail doc_image.image "1000" upscale=0 as big %}
                                {% if forloop.first %}
                                    <a href="{{ big.url }}" rel="{{ doc.id }}" class="fancybox-thumb">
                                        <div class="doc_zs">
                                            {{ doc.description|safe }}
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{{ big.url }}" style="display: none;" rel="{{ doc.id }}" class="fancybox-thumb">{{ doc_image.id }}</a>
                                {% endif %}
                            {% endthumbnail %}
                        {% endfor %}
                    {% else %}
                        <div class="doc_zs">
                            {{ doc.description|safe }}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    <div class="pl">
        <div class="text">
            {{ service.result|safe }}
        </div>
    </div>

    <div class="btn"><div class="btn_in"><a href="/services/requestform/{{ service.id }}/" class="fancybox-big fancybox.ajax">{{ service.button_title }}</a></div></div>
    <script type="text/javascript">SetFancy();</script>
{% endif %}
</div>