{% extends "base.html" %}

{% load thumbnail services_extras %}

{% block title %}
    {{ service.title }} &mdash;
{% endblock %}

{% block content_l %}
    <h1>{{ service.title }}</h1>

    {% if service.id == 1 %}
        <h2>Необходимо подключить:</h2>

        <div class="connect_menu">
            <ul>
                <li class="curr"><a href="#" name="1" class="load_srv_link"><img src="/media/img/connect_menu_ic_1.png" alt="до 15 кВт" width="79" height="79" /><span>до 15 кВт</span></a></li>
                <li><a href="#" name="serv_2_3"><img src="/media/img/connect_menu_ic_2.png" alt="от 15 кВт до 100 кВт" width="79" height="79" /><span>от&nbsp;15&nbsp;кВт до&nbsp;100&nbsp;кВт</span></a></li>
                <li><a href="#" name="serv_4_5"><img src="/media/img/connect_menu_ic_3.png" alt="от 100 кВт" width="79" height="79" /><span>от 100 кВт</span></a></li>
            </ul>
        </div>

        <div class="status_menu">
            <ul class="ul_2_3" style="display: none;">
                <li class="curr"><a class="load_srv_link" name="2" href="#">физ. лицо</a></li>
                <li><a class="load_srv_link" name="3" href="#">юр. лицо</a></li>
            </ul>
            <ul class="ul_4_5" style="display: none;">
                <li class="curr"><a class="load_srv_link" name="4" href="#">≤ 750 кВА</a></li>
                <li><a class="load_srv_link" name="5" href="#">> 750 кВА</a></li>
            </ul>
        </div>
    {% else %}
        <div class="text">
            <p>{{ service.description }}</p>
        </div>
    {% endif %}

<div class="doc_serv_block">
    {% if service.get_published_docs %}
        <div class="docs_zl">
            <h2>Вам потребуются следующие документы:</h2>
            {% if service.get_docs_zl %}
                {% for doc in service.get_docs_zl %}
                    <div class="doc_zl">
                        {{ doc.description|safe }}
                    </div>
                {% endfor %}
            {% endif %}
        </div><!--/docs_zl-->

        {% if service.get_docs_zs %}
            <div class="docs_zs">
                {% for doc in service.get_docs_zs %}
                    <div class="doc_zs">
                        {{ doc.description|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    <div class="pl">
        <div class="text">
            {{ service.result|safe }}
        </div>
    </div>

    <div class="btn"><div class="btn_in"><a href="/services/requestform/{{ service.id }}/" class="fancybox">Оставить заявку</a></div></div>
</div>

{% endblock %}

{% block submenu_r_pl %}
    {% get_serv_menu service %}
{% endblock %}

{% block second_submenu_list %}
    <li><a href="/service/" class="fancybox">Весь комплекс услуг «под ключ»</a></li>
{% endblock %}


