{% load siteblocks_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block META_description %}{{ meta.description }}{% endblock %}"/>
    <meta name="keywords" content="{% block META_keywords %}{{ meta.keywords }}{% endblock %}"/>
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen" href="/media/css/ie.css" /><![endif]-->

    {# new #}
    <link href="/media/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="/media/js/fancybox/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css" />
    {# new #}

    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery.maskedinput-1.3.min.js"></script>

    {# new #}
    <script type="text/javascript" src="/media/js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/media/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    {# new #}

    <script type="text/javascript" src="/media/js/script.js"></script>
    <title>
        {% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title ''  %}
                    {{ meta.title }}
                {% endifnotequal %}
            {% endif %}
        {% endblock %}
        {{ site_name }}
    </title>
</head>

<body>
<div class="wrapper">

<!--PAGE-->
<div class="page">

    <!--HEADER-->
	<div class="header">
		<div class="header_in">
			<a id="logo_box" href="/" title="ЦРКП"><img id="logo" src="/media/img/logo.png" alt="ЦРКП" width="177" height="55" /></a>

			<div class="contacts">
				<div class="tel">{{ contacts|safe }}</div>
				<div class="contacts_lnk"><a href="/company/contacts/">контакты и схема проезда</a></div>
			</div><!--/contacts-->

			<div class="menu">
                {% block_menu request.path %}
			</div><!--/menu-->
		</div>
	</div>
    <!--/HEADER-->


    <!--MAIN-->
	<div class="main">
		<div class="paper">
			<div class="paper_content">
                {% block paper_content %}

                    <div class="content_l col">
                        {% block content_l %}
                        {% endblock %}
                    </div><!--/content_l-->

                    <div class="content_r col">
                        <div class="r_pl">
                            {% if service %}
                                <h3 class="submenu_h">Порядок технологического присоединения</h3>
                            {% endif %}
                            {% block submenu_r_pl_first %}
                                <div class="submenu">
                                    <ul>
                                        {% block submenu_r_pl %}
                                        {% endblock %}
                                    </ul>
                                    <div class="submenu_t"></div>
                                    {% block sbmn_b %}<div class="submenu_b"></div>{% endblock %}
                                </div>
                            {% endblock %}
                            {% block submenu_r_pl_second %}
                                <div class="submenu submenu_2">
                                    <ul>
                                        {% block second_submenu_list %}
                                        {% endblock %}
                                    </ul>
                                    <div class="submenu_2_t"></div>
                                    <div class="submenu_2_b"></div>
                                </div>
                            {% endblock %}

                        </div>
                        <div class="cl"></div>

                        {% block post_sbmns %}
                        {% endblock %}

                    </div><!--/content_r-->

                {% endblock %}
			</div>

			<div class="paper_l"></div>
			<div class="paper_r"></div>
			<div class="paper_tl"></div>
			<div class="paper_tr"></div>
			<div class="paper_hand"><div></div></div>
		</div><!--/paper-->
	</div>
    <!--/MAIN-->


    <!--FOOTER-->
    <div class="footer">
		<div id="copyright">© 2011-{% now "Y" %} Центр по работе с клиентами и присоединению</div>

		<div class="footer_menu">
			<ul>
				<li><a href="/techconnection/">Технологическое присоединение</a></li>
				<li><a href="/services/">Услуги</a></li>
				<li><a href="/company/">Компания</a></li>
			</ul>
		</div>

		<a id="madein" title="Разработка сайта — студия OctoberWeb" href="http://octoberweb.ru/"><img id="octoberweb" alt="Разработка сайта — студия OctoberWeb" src="/media/img/octoberweb.png" width="32" height="32"/>разработка сайта <span>OctoberWeb</span></a>
    </div>
    <!--/FOOTER-->

</div>
<!--/PAGE-->

</div><!--/wrapper-->
</body>
</html>