{% extends "base.html" %}

{% load thumbnail faq_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }}
    {% endblock %}
{% endif %}

{% block paper_content %}
    {{ maintxt_first.value|safe }}
    <div class="index_img"><img src="/media/img/index_img.png" alt="" /></div>

    <div class="connect_lnk">
        <a href="/services/"><span>Подключение к электрическим сетям</span></a>
    </div>

    <div class="index_text text">
        {{ maintxt_second.value|safe }}
        <p><a href="/techconnection/order/">Порядок технологического присоединения</a></p>

        {% faq_teaser 'index_faq_teaser' %}
    </div>

    <div class="service_teasers">
        <div class="service_teaser">
            <div class="service_teaser_img"><img src="/media/img/service_teaser_1.png" alt="Расчет характеристик подключения" /></div>
            <h3><a href="/techconnection/techcalc/">Расчет характеристик подключения</a></h3>
            <p>Посчитать нагрузку и сформировать документ сразу на сайте</p>
        </div>
        <div class="service_teaser">
            <div class="service_teaser_img"><img src="/media/img/service_teaser_2.png" alt="Тарифы на технологическое подключение" /></div>
            <h3><a href="/techconnection/rates/">Тарифы на технологическое подключение</a></h3>
            <p>Определить район и стоимость подключения на карте</p>
        </div>

        <div class="service_teaser">
            <div class="service_teaser_img"><img src="/media/img/service_teaser_3.png" alt="Договор на подключение и технические условия" /></div>
            <h3><a href="#">Договор на подключение и технические условия</a></h3>
            <p>Оформление заявки онлайн</p>
        </div>
    </div>
{% endblock %}

