{% extends "base.html" %}

{% load thumbnail faq_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }}
    {% endblock %}
{% endif %}

{% block paper_content %}
    <div class="index_lead text">
        <img class="logo_len" src="/media/img/logo_len.png" alt="" unselectable="on" style="cursor: default; ">
    {{ maintxt_first.value|safe }}
    </div>

    <div class="index_img"><img src="/media/img/index_img.png" alt="" /></div>

    <div class="connect_lnk">
        <a href="/services/"><span>Подключение к электрическим сетям</span></a>
    </div>

    <div class="index_text text">
        {{ maintxt_second.value|safe }}
        <p><a href="/techconnection/order/">Порядок технологического присоединения</a></p>

        {% faq_teaser 'index_faq_teaser' %}
    </div>

    <div class="service_teasers">
        {% for teaser in teasers %}
            <div class="service_teaser">
                <div class="service_teaser_img">
                    <img src="{{ teaser.get_src_image }}" alt="{{ teaser.title }}" />
                </div>
                <h3><a href="{{ teaser.url }}">{{ teaser.title }}</a></h3>
                <p>{{ teaser.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

