{% extends "base.html" %}

{% load thumbnail siteblocks_extras faq_extras pages_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block content_l %}
    <h1>{{ page.title }}</h1>
    <div class="connect_map_page">
        <img src="/media/img/connect_map2.png" width="573" height="675" alt="" usemap="#connect_map" />

        <map name="connect_map" class="connect_map">
            {% for polygon in polygons %}
                {% comment %}<area shape="poly" alt="{{ polygon.number }}" title="{{ polygon.title }}" coords="{{ polygon.polygon }}" class="fancybox-big fancybox.ajax" href="/showratestable/{{ polygon.number }}/" />{% endcomment %}
                <area shape="poly" alt="{{ polygon.id }}" title="{{ polygon.title }}" coords="{{ polygon.polygon }}" class="fancybox-big fancybox.ajax" href="/showratestable/{{ polygon.id }}/" />
            {% endfor %}
        </map>

        <div class="map_labels">
            {% for polygon in polygons %}
                {% comment %}<a id="cm_{{ polygon.number }}" href="/showratestable/{{ polygon.number }}/" class="fancybox-big fancybox.ajax">{{ polygon.number }}</a>{% endcomment %}
                <a id="cm_{{ polygon.id }}" href="/showratestable/{{ polygon.id }}/" class="fancybox-big fancybox.ajax">{{ polygon.number }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block submenu_r_pl %}
    {% if page.parent %}
        {% get_menu_by_parent page request.path %}
    {% endif %}
{% endblock %}

{% block submenu_r_pl_second %}
{% endblock %}

{% block post_sbmns %}
    {% faq_teaser '' %}
{% endblock %}