{% extends "base.html" %}

{% load thumbnail siteblocks_extras faq_extras pages_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block content_l %}
    <h1>{{ page.title }}</h1>
    {{ page.content|safe }}
{% endblock %}

{% block submenu_r_pl %}
    {% if page.parent %}
        {% get_menu_by_parent page request.path %}
    {% endif %}
{% endblock %}

{% block submenu_r_pl_second %}
{% endblock %}

{% block post_sbmns %}
    {% faq_teaser '' %}
{% endblock %}

